*{
    box-sizing: border-box;
    margin: 0;
}
.body{
    font-family:'Roboto Condensed'}
    .cabecalho{
        padding: 25px;
        background-color: rgba(134, 205, 201, 1);
        color: aliceblue;
        text-align: center;
        
    }
    .barra_nav{
        background-color:  rgba(196, 250, 247, 1);
        display: flex;
        align-items: center;
    }
    .barra_nav a{
        color: rgb(5, 4, 4);
        padding: 14px 10px;
        text-decoration: none; 
    }
    .barra_nav a:hover{
        background-color:rgba(134, 205, 201, 1) ;
        color:  rgb(5, 4, 4) ;
        }
        .btn{
            display: block; /* deixa todo o conteúdo em bloco*/
            width:30%; /* Ocupar 100% do espaço disponível no card*/
        margin-left: 56%;
        margin-right: 50%;
        text-align: center; /* alinha o texto no centro do espaço*/
        text-transform: uppercase;
        text-decoration: none;
        background-color :#F69985;
        color:aliceblue;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow: rgb(154, 152, 152) 4px 6px 8px;
        flex-direction: column;
        
        }
        .btn:hover{
            background-color: rgba(214, 106, 83, 1);}
            
            .rodape{
                max-height: fit-content;
                padding: 40px;
                text-align: center;
                color: aliceblue;
                background-color: rgba(134, 205, 201, 1);}

                .principal{
                    padding: 25px;
                    margin-left: 20%;
                    margin-right: 50%;
                }
                #editor_back{
                    background-color: rgba(255, 231, 170, 1);
                    font-size: 22px;
                    font-family: 'Roboto Condensed';
                    box-shadow: rgb(154, 152, 152) 4px 6px 8px;
                    flex-direction: column;
                }
                #editor_front{
                    background-color: rgba(255, 231, 170, 1);
                    font-size: 22px;
                    font-family: 'Roboto Condensed';
                }
                #edit1{
                    background-color: rgba(246, 153, 133, 1);
                    font-size: 22px;
                    font-family: 'Roboto Condensed';
                    box-shadow: rgb(154, 152, 152) 4px 6px 8px;
                    flex-direction: column;
                }
                .barradecoisas{
                    margin-left: 30%;
                    margin-right: 50%;
                }