*{
    box-sizing: border-box;
    margin: 0;
}
.body{
    font-family:'Roboto Condensed';
    
}
.cabecalho{
    padding: 25px;
    background-color: rgba(134, 205, 201, 1);
    color: aliceblue;
    text-align: center;
    
}
.barra_nav{
    background-color:  rgba(196, 250, 247, 1);
    display: flex;
    align-items: center;
}
.barra_nav a{
    color: rgb(5, 4, 4);
    padding: 14px 10px;
    text-decoration: none; 
}
.barra_nav a:hover{
    background-color:rgba(134, 205, 201, 1) ;
    color:  rgb(5, 4, 4) ;
    }
    .coluna{
        display: flex;
        flex-wrap:wrap;   
    }
    .lateral{
        margin-left: 70px;
        margin-right: -20px;
        flex: 20%;
        background-color: white;
        padding: 20px;}
            
            .principal{
                margin: 8px;
                flex: 70%;
                background-color:white;
                padding: 20px;}
                
                .assimque{
                    padding: 20px;
                    background-color: bisque;
                    box-shadow: rgb(154, 152, 152) 4px 6px 8px;
                    flex-direction: column;
                }

                .brancadeneve{
                    margin-left: 70px;
                    margin-right: 30px;
                    padding: 20px;
                    background-color: bisque;
                    box-shadow: rgb(154, 152, 152) 4px 6px 8px;
                    flex-direction: column;
                }

                .rapunzel{
                    margin-left: 70px;
                    margin-right: 30px;
                    padding: 20px;
                    background-color: bisque;
                    box-shadow: rgb(154, 152, 152) 4px 6px 8px;
                    flex-direction: column;
                }

                .btn{
                    display: block; 
                    width:100%; 
                text-align: center; 
                text-transform: uppercase;
                text-decoration: none;
                background-color :#F69985;
                color:aliceblue;
                padding: 15px;
                margin-bottom: 10px;
                border-radius: 10px;
                margin-left: 0%;
        margin-right: 50%;
                
                }
                .btn:hover{
                    background-color: rgba(214, 106, 83, 1);}
                    .bp{
                        display: block; /* deixa todo o conteúdo em bloco*/
                        width:30%; /* Ocupar 100% do espaço disponível no card*/
                    
                    text-align: center; /* alinha o texto no centro do espaço*/
                    text-transform: uppercase;
                    text-decoration: none;
                    background-color :#F69985;
                    color:white;
                    padding: 15px;
                    margin-bottom: 10px;
                    border-radius: 10px;
                    
                    }
                    .bp:hover {
                        background-color: rgba(214, 106, 83, 1);}
                        
                        .btt{
                            margin-left: 65%;
                            margin-right: 50%;
                            display: block; /* deixa todo o conteúdo em bloco*/
                            width:24%; /* Ocupar 100% do espaço disponível no card*/
                        text-align: center; /* alinha o texto no centro do espaço*/
                        text-decoration: none;
                        text-transform: uppercase;
                        color: aliceblue;
                        background-color: #F69985;
                        padding: 15px;
                        margin-bottom: 10px;
                        border-radius: 10px;
                        margin-bottom: 20px;
                        
                        }
                        .btt:hover {
                            background-color: rgba(214, 106, 83, 1);}
                            .rodape{
                                max-height: fit-content;
                                padding: 40px;
                                text-align: center;
                                color: aliceblue;
                                background-color: rgba(134, 205, 201, 1);
                            }

                                .title{
                                    background-color: #F69985;
                                    padding: 10px;
                                    margin-bottom: 20px;
                                    color: aliceblue;
                                    
                                }

                                :any-link{
                                    color: white;
                                    text-decoration: none;
                                }
                               